.consortium-main {
    padding:85px 85px 60px 85px;
}

.consortium-title {
    font-weight: 500 !important;
    font-size: 24px !important;
    line-height: 21px !important;
    padding-bottom: 20px;
    color: #3E494A !important;
}

.consortium-heading{
font-size: 3.3333333333333335vw !important;
font-weight: 700 !important;
line-height: 72px !important;
}

.consortium-text{
    font-family: "Lora-Regular" !important;
    font-size: 1.6666666666666667vw !important;
    line-height: 36px;
    color: #3B3B3B;
    padding-bottom: 30px;
   
}



.consortium-member{
    background-color: #00466D;
    color: #fff !important;
    padding:64px 54px 0;
}

.consortium-member .consortium-heading{
    font-size: 3.3333333333333335vw !important;
font-weight: 400 !important;
line-height: 72px !important;
padding: 10px 0;
}
.consortium-member .consortium-title{
    font-family: 'Lora-Regular';
    font-size: 24px !important;
    font-weight: 400 !important;
    line-height: 46px !important;
    color: #fff !important;
}

.consortium-member .consortium-text{
    color: #fff;
    font-size: 24px;
    font-family: 'Lora-Regular';
    font-style: normal;
    line-height: 36px;
    padding-top: 40px;
    padding-bottom: 40px;
}