/* Slick Carousel arrows custom */

.decision-makers-mobile-heading {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #101010;
    text-align: center;
    margin: 0;
    padding-top:5px;
    padding-bottom: 5px;
}

.decision-makers-mobile-main .slick-next:before, .decision-makers-mobile-main .slick-prev:before {
    color: #000;
}

/* .slick-list{
    margin: 40px !important;
} */

.decision-makers-mobile-main .slick-track{
    display: flex;
    justify-content: center;
    align-items: center;
}

.decision-makers-mobile-main .slick-slide img {
    display: block;
    margin: auto !important;
}

/* .decision-makers-mobile-main .slick-slide :hover{
    background-color: #A9A9A9;
} */

.decision-makers-mobile-main .content{
     margin-bottom: 30px;
}
.decision-makers-mobile-main .content h3 {
    margin-top: 10px !important;
    margin-bottom: 0 !important;
}

.decision-makers-mobile-main .content p {
    margin: 0 !important;
}

.slick-dots {
    bottom: 8px !important;
}    

.decision-makers-mobile-main .slick-slider .slick-track {
    width: 3686px !important;
}

.decision-makers-mobile-main .slick-initialized .slick-slide {
    width: 336px !important;
}