.about-us-main {
    padding: 85px 85px 60px;
    /* background: #F9F9F9; */
}

.about-us-main .about-us-title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px !important;
    line-height: 28px;
    color: #3E494A;
    padding-bottom: 1.027vw;
}

.aboutus-desc {
    font-style: normal;
    font-weight: 400 !important;
    font-size: 3.871vw !important;
    line-height: 72px !important;
    color: #3B3B3B;
    padding-bottom: 5.959vw;
}

.aboutus-video-block img {
    background: rgba(0, 0, 0, 0.3);
    max-width: 100%;
}

.who-we-are-block-main {
    padding-top: 3.082vw;
    /* padding-bottom: 7.603vw; */
}

.who-we-are-block {
    font-style: normal;
    font-weight: 400 !important;
    font-size: 3.288vw !important;
    line-height: 150% !important;
    color: #3B3B3B !important;
}

.who-we-are-right-block {
    font-family: 'Lora-Regular' !important;
    font-weight: 400 !important;
    font-size: 1.644vw !important;
    line-height: 150% !important;
    color: #677171 !important;
    /* margin-top: 16px !important; */
}
.our-approch-mainBox{
    margin: 0 48px;
     padding: 40px 0;    
}

.our-approch-block{
    background-color: #fff !important;
}
.our-approch-block .approch-banner {
    opacity: 0.8;
}

.our-approach-title{
    font-size: 3.3333333333333335vw !important;
    color: #3B3B3B !important;
    line-height: 72px;
    font-weight: 400 !important;
    position: absolute;
    /* width: fit-content; */
    top: -3%;
    left: 0%;
    background-color: #fff;
}

.our-approach img{
width: 76px;;
}
.divider-approch{
    left: 59.5%;
    display: block;
    height: 80%;
    position: absolute;
    width: 0;
    top: 10%;
    border-right: 5px dashed #A3D1EB;
    opacity: 0.6;
}

.our-approach-right-side-text{

padding: 0 0 0 40px;
}

/* .divider-approch:before, .divider-approch:after {
    border-right: 2px solid red;
    content: '';
    display: block;
    height: 8px;
    margin-top: -6px;
    position: absolute;
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    right: 10px;
    top: 50%;
    width: 0;
}

.divider-approch:after {
    margin-top: -1px;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
} */


.our-approch-heading{
    margin-bottom: 10px !important;
    margin-top: 30px;
    font-size: 2.083333333333333vw;
    font-weight: 500;
}

.our-approuch-box{
    background-image: url(../images/about-us/our-approach-bg.svg);
    background-position: right;
    background-repeat: no-repeat;
    position: relative;
    background-position: 100% 0px;
    
}

.right-rotate-text{
    position: absolute;
    transform: rotate(270deg);
    left: 39%;
    font-size: 30px;
    font-weight: 500;
    background-color: #fff;
}


/* ------------------ */

/** = =====
 flexbox ==== */

 .our-approch-body {
    flex: 1;
  }
  
  .our-approch,
  .our-approch--reverse {
    display: flex;
    align-items: flex-start;
  }
  
  .our-approch--reverse > .our-approch-object{
    order: 1
  }
  /**==== visuals 
  ==*/
 
  

  
  .our-approch-body > p {
      font-size: 1.6666666666666667vw;
      color: #677171;
      line-height: 31px;
      margin-top: 0px !important;
      margin-bottom: 0px !important;
  }
  
  .our-approch-body {
    flex: 1;
    padding: 0 10px;
  }
  .our-approch,
  .our-approch--reverse {
    /* max-width: 30em; */
    display: flex;
    align-items: flex-start;
    /* border: 1px solid #f2f2f2; */
    padding:60px 30px 10px 30px;
    margin: 10px;
    /* flex-basis: 30em; */
  }
  
  