/* Slick Carousel arrows custom */
.slick-next:before, .slick-prev:before {
    color: #000;
}

/* .slick-list{
    margin: 40px !important;
} */

.slick-track{
    display: flex;
    justify-content: center;
    align-items: center;
}

.slick-slide img {
    display: block;
    margin: auto !important;
    width: 150px;
}

.slick-slide :hover{
    background-color: #A9A9A9;
}

.slick-next {
    right: 16px !important;
}

.slick-prev {
    left: 16px !important;
}