.statuslog-block {
    background: #e0d9d9bf;
    margin-top: 0px;
    box-shadow: 0px 5px #888;
}

.statuslog-block li {
    margin-top: 30px;
}


.additionaldata-table-block {
    background: grey;
    border: 1px solid;
    width: 100%;
    margin-top: 20px;
}

.additionaldata-table-block td {
    border: 1px solid;
}

.status-details-headers {
    margin-top: 100px;
    margin-left: 30px;
}