/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
} */

/* Honeywell Css */

/* body,html{
  font-size: 14px;
  font-family: quicksand; 
} */

a {
  text-decoration: none;
}

.list-group-item-black{
background-color: black !important;
color: #fff !important;
}

.css-19z1ozs-MuiPaper-root-MuiAppBar-root,
 .css-1191obr-MuiPaper-root-MuiAppBar-root,
 .css-12i7wg6-MuiPaper-root-MuiDrawer-paper,
 .css-78trlr-MuiButtonBase-root-MuiIconButton-root{
    background-color: black !important;
    color: #fff !important;
}
.css-1kf81xp-MuiPaper-root-MuiAppBar-root{
  background-color: black !important;
    color: #fff !important;
}
.css-cveggr-MuiListItemIcon-root{
    color: #fff !important;
}

.css-bshv44-MuiButtonBase-root-MuiListItem-root.Mui-selected{
    background-color: rgb(25 118 210 / 13%);
    border-left: 3px solid #1976d2 !important;


  }

  .css-1h9z7r5-MuiButtonBase-root-MuiTab-root{
    align-items: flex-start !important;
  }

  .css-jcwns9-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: #101010;
    background-color: #D1E9FA;
  }

  .css-1ujykiq-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: #101010;
    background-color: #D1E9FA;
}

.MuiDataGrid-footerContainer {
  display: none !important;
}
.css-heg063-MuiTabs-flexContainer{
  flex-direction: column;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: #1976d2;
  background-color: aliceblue !important;
}

.hide {
  display: none !important;
}

.show {
  visibility: visible;
}
.rightBorder{
  /* border-right: 5px solid;
  border-image: linear-gradient(to top, #F29A36 32%, #FFFFFF 30%, #2A8B2C 80%) 3; */
  background-image: url(./images/login-side-image.svg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;

}
.login-box{
  height:calc(90vh - 60px);
  padding: 60px 40px;
  }

/* .login-box{
  background-image: url(./images/);
} */
.text-center{
  text-align: center;
}

.login_logo{
  margin-bottom: 40px;
  width: 250px;
}

.validation-error {
  color: #FF3333;
  font-size: 10px !important;
  font-family: 'Lora-bold';
  font-style: italic;
  margin-top: 0px;
  margin-bottom: 0px;

}

/* File Uplad Css */


.iciELI {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 300px !important;
  max-width: 500px !important;
  height: 100px !important;
  border: dashed 2px #0658c2;
  padding: 8px 16px 8px 8px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  margin: 20px;
}

.fileUploadTextarea{
  margin: 20px;
  max-width: 500px;
  display: flex;
}


/* File upload css end */

/* Settings Tabs css start */

.left-sidebar-tabs a{
  
    display: block;
    color: rgb(0, 0, 0.5);
    padding: 10px 16px;
    text-decoration: none;
    font-size: 14px !important;
  }
  
  .tab-active {
    color: #5499de !important;
    background: aliceblue;
    border-left: 2px solid;
           
  }

/* Settings Tabs css end */


.highlight {
  background-color: #1976D2;
  color: #fff;
  padding: 1px 5px;
}
