
/* Larsseit font family */
@font-face {
  font-family: Lora-bold;
  src: url("./fonts/lora/Lora-Bold.ttf");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: Lora-Medium;
  src: url("./fonts/lora/Lora-Medium.ttf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: Lora-Regular;
  src: url("./fonts/lora/Lora-Regular.ttf");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: Lora-SemiBold;
  src: url("./fonts/lora/Lora-SemiBold.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Lora-Italic;
  src: url("./fonts/lora/Lora-Italic.ttf");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: Lora-BoldItalic;
  src: url("./fonts/lora/Lora-BoldItalic.ttf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

/* quicksand font family */
/* @font-face {
  font-family: QuicksandBold;
  src: url("./fonts/quicksand/Quicksand-Bold.ttf");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: QuicksandMedium;
  src: url("./fonts/quicksand/Quicksand-Medium.ttf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: QuicksandRegular;
  src: url("./fonts/quicksand/Quicksand-Regular.ttf");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: QuicksandLight;
  src: url("./fonts/quicksand/Quicksand-Light.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
} */

/* Lora Font class */

.fontLoraBold {
  font-family: "Lora-bold" !important;
}

.fontLoraMedium {
  font-family: "Lora-Medium" !important;
}

.fontLoraRegular {
  font-family: "Lora-Regular" !important;
}

.fontLoraSemiBold {
  font-family: "Lora-SemiBold" !important;
}

.fontLoraItalic {
  font-family: "Lora-Italic" !important;
}
.fontLoraBoldItalic {
  font-family: "Lora-BoldItalic" !important;
}


html,body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-size: 16px;
  line-height: 30px !important;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 

p {
  font-family: "Lora-Regular";
  font-size: 16px !important;
  
}





code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
